
<div class="dropdown-menu position-absolute" aria-labelledby="userProfileDropdown">
    <div class="nav-drop is-account-dropdown">
        <div class="inner">
            <div class="nav-drop-header">
                <span class="text-primary font-15">Welcome User !</span>
            </div>
            <div class="nav-drop-body account-items pb-0">
                <a id="profile-link" class="account-item" href="pages_profile.html">
                    <div class="media align-center">
                        <div class="media-left">
                            <div class="image">
                                <img class="rounded-circle avatar-xs" src="~/img/profile-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="media-content ml-3">
                            <h6 class="font-13 mb-0 strong"></h6>
                            <small>EmailId</small>
                        </div>
                        <div class="media-right">
                            <i data-feather="check"></i>
                        </div>
                    </div>
                </a>
                <a class="account-item" href="pages_profile.html">
                    <div class="media align-center">
                        <div class="icon-wrap">
                            <i class="las la-user font-20"></i>
                        </div>
                        <div class="media-content ml-3">
                            <h6 class="font-13 mb-0 strong">My Account</h6>
                        </div>
                    </div>
                </a>
                <a class="account-item" href="pages_timeline.html">
                    <div class="media align-center">
                        <div class="icon-wrap">
                            <i class="las la-briefcase font-20"></i>
                        </div>
                        <div class="media-content ml-3">
                            <h6 class="font-13 mb-0 strong">My Activity</h6>
                        </div>
                    </div>
                </a>
                <a class="account-item settings">
                    <div class="media align-center">
                        <div class="icon-wrap">
                            <i class="las la-cog font-20"></i>
                        </div>
                        <div class="media-content ml-3">
                            <h6 class="font-13 mb-0 strong">Settings</h6>
                        </div>
                    </div>
                </a>
                <hr class="account-divider">
                <a class="account-item" asp-action="Index" asp-controller="Home">
                    <div class="media align-center">
                        <div class="icon-wrap">
                            <i class="las la-sign-out-alt font-20"></i>
                        </div>
                        <div class="media-content ml-3">
                            <h6 class="font-13 mb-0 strong ">Logout</h6>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
