<div class="header-container fixed-top">
    <header class="header navbar navbar-expand-sm">
        <partial name="_Logo" />
        <partial name="_NavHeaderRight" />
        <ul class="navbar-item flex-row">
            <li class="nav-item dropdown header-setting">
                <a href="javascript:void(0);" class="nav-link dropdown-toggle rightbarCollapse" data-placement="bottom">
                    <i class="las la-sliders-h"></i>
                </a>
            </li>
        </ul>
    </header>
</div>