<div class="footer-wrapper">
    <div class="footer-section f-section-1">
        <p class="">Copyright &copy; 2021 <a target="_blank" href="http://neptuneweb.xyz">Whatso</a>, All rights reserved.</p>
    </div>
    <div class="footer-section f-section-2">
        <p class="">Made with sweet <i class="las la-heart text-danger"></i></p>
    </div>
</div>