.darkmode .widget-content-area {
    background-color: #272727;
}
.darkmode .breadcrumb-with-icons .breadcrumb li {
    background: #191919;
}
.darkmode .breadcrumb-with-icons .breadcrumb li a {
    color: #fff;
}
.darkmode .basic-breadcrumb-two li > * {
    color: #ffffff;
}
.darkmode .default-breadcrumb .breadcrumb-item a {
    color: #ffffff;
}
.darkmode .dotted-seperators .breadcrumb li a {
    color: #fff;
}
.darkmode .table-striped tbody tr:nth-of-type(odd) {
    background-color: #191919 !important;
}
.darkmode .grid-area .table td, 
.darkmode .grid-area .table th {
    color: #fff;
}
.darkmode .grid-area .bg-light-dark {
    background-color: #191919;
}
.darkmode .jumbotron {
    background-color: #191919;
}
.darkmode .list-group-area .list-group-item {
    background-color: #191919;
    color: #ffffff;
}
.darkmode .progress-area .progress {
    background-color: #191919;
}
.darkmode blockquote.blockquote {
    background-color: #191919;
    border: 1px solid #191919;
}
