@{
    ViewData["Title"] = "List Group";
    ViewData["PageName"] = "basicui_list_group";
    ViewData["Heading"] = "<i class='subheader-icon las la-chart-area'></i> Basic UI <span class='fw-300'>List Group</span>";
    ViewData["Category1"] = "Basic UI";

}
@section HeadBlock {
    <link href="~/css/basic-ui/list_groups.css" rel="stylesheet" type="text/css" />
}
@section SubheaderBlock {

}

<div class="layout-px-spacing">
    <div class="layout-top-spacing mb-2">
        <div class="col-md-12">
            <div class="row">
                <div class="container p-0">
                    <div class="row layout-top-spacing list-groups-area">
                        <div class="col-md-6">
                            <div class="statbox widget box box-shadow mb-4">
                                <div class="card-body">
                                    <h4 class="header-title">Basic Example</h4>
                                    <p class="sub-header">
                                        The most basic list group is an unordered list with list items and the proper classes.
                                    </p>
                                    <ul class="list-group">
                                        <li class="list-group-item"><i class="las la-book mr-3 font-17"></i>Cras justo odio</li>
                                        <li class="list-group-item"><i class="las la-camera mr-3 font-17"></i>Dapibus ac facilisis in</li>
                                        <li class="list-group-item"><i class="las la-cube mr-3 font-17"></i>Morbi leo risus</li>
                                        <li class="list-group-item"><i class="las la-eye mr-3 font-17"></i>Porta ac consectetur ac</li>
                                        <li class="list-group-item"><i class="las la-home mr-3 font-17"></i>Vestibulum at eros</li>
                                    </ul>
                                </div> <!-- end card-body -->
                            </div> <!-- end card-->
                        </div>
                        <div class="col-md-6">
                            <div class="statbox widget box box-shadow mb-4">
                                <div class="card-body">
                                    <h4 class="header-title">Active items</h4>
                                    <p class="sub-header">Add <code>.active</code> to a <code>.list-group-item</code> to indicate the current active selection.</p>
                                    <ul class="list-group">
                                        <li class="list-group-item active">Cras justo odio</li>
                                        <li class="list-group-item">Dapibus ac facilisis in</li>
                                        <li class="list-group-item">Morbi leo risus</li>
                                        <li class="list-group-item">Porta ac consectetur ac</li>
                                        <li class="list-group-item">Vestibulum at eros</li>
                                    </ul>
                                </div> <!-- end card-body -->
                            </div> <!-- end card-->
                        </div>
                        <div class="col-md-6">
                            <div class="statbox widget box box-shadow mb-4">
                                <div class="card-body">
                                    <h4 class="header-title">Disabled items</h4>
                                    <p class="sub-header">Add <code>.disabled</code> to a <code>.list-group-item</code> to make it <em>appear</em> disabled. Click, Hover will not work here</p>
                                    <ul class="list-group">
                                        <li class="list-group-item disabled">Cras justo odio</li>
                                        <li class="list-group-item">Dapibus ac facilisis in</li>
                                        <li class="list-group-item">Morbi leo risus</li>
                                        <li class="list-group-item">Porta ac consectetur ac</li>
                                        <li class="list-group-item">Vestibulum at eros</li>
                                    </ul>
                                </div> <!-- end card-body -->
                            </div> <!-- end card-->
                        </div>
                        <div class="col-md-6">
                            <div class="statbox widget box box-shadow mb-4">
                                <div class="card-body">
                                    <h4 class="header-title">Links and Buttons</h4>
                                    <p class="sub-header">Use <code>&lt;a&gt;</code>s or <code>&lt;button&gt;</code>s to create <em>actionable</em> list group items by adding <code>.list-group-item-action</code>.</p>
                                    <div class="list-group">
                                        <a href="#" class="list-group-item list-group-item-action active">
                                            Cras justo odio
                                        </a>
                                        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                                        <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
                                        <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
                                        <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Vestibulum at eros</a>
                                    </div>
                                </div> <!-- end card-body -->
                            </div> <!-- end card-->
                        </div>
                        <div class="col-md-6">
                            <div class="statbox widget box box-shadow mb-4">
                                <div class="card-body">
                                    <h4 class="header-title">Flush</h4>
                                    <p class="sub-header">Add <code>.list-group-flush</code> to remove some borders and rounded corners to render list group items edge-to-edge in a parent container.</p>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Cras justo odio</li>
                                        <li class="list-group-item">Dapibus ac facilisis in</li>
                                        <li class="list-group-item">Morbi leo risus</li>
                                        <li class="list-group-item">Porta ac consectetur ac</li>
                                        <li class="list-group-item">Vestibulum at eros</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="statbox widget box box-shadow mb-4">
                                <div class="card-body">
                                    <h4 class="header-title">List group with image</h4>
                                    <p class="sub-header">Add <code>.disabled</code> to a <code>.list-group-item</code> to make it <em>appear</em> disabled. Click, Hover will not work here</p>
                                    <ul class="list-group list-group-media">
                                        <li class="list-group-item list-group-item-action">
                                            <div class="media">
                                                <div class="mr-3">
                                                    <img alt="avatar" src="~/img/profile-1.jpg" class="img-fluid rounded-circle">
                                                </div>
                                                <div class="media-body">
                                                    <h6>Jon Snow</h6>
                                                    <p>Senior Developer</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item list-group-item-action active">
                                            <div class="media">
                                                <div class="mr-3">
                                                    <img alt="avatar" src="~/img/profile-2.jpg" class="img-fluid rounded-circle">
                                                </div>
                                                <div class="media-body">
                                                    <h6>Jeremy Lawson</h6>
                                                    <p>Systems</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item list-group-item-action ">
                                            <div class="media">
                                                <div class="mr-3">
                                                    <img alt="avatar" src="~/img/profile-3.jpg" class="img-fluid rounded-circle">
                                                </div>
                                                <div class="media-body">
                                                    <h6>Josh Williamson</h6>
                                                    <p>UI/UX Designer</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item list-group-item-action ">
                                            <div class="media">
                                                <div class="mr-3">
                                                    <img alt="avatar" src="~/img/profile-20.jpg" class="img-fluid rounded-circle">
                                                </div>
                                                <div class="media-body">
                                                    <h6>Sara Jonas</h6>
                                                    <p>UI/UX Designer</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div> <!-- end card-body -->
                            </div> <!-- end card-->
                        </div>
                        <div class="col-md-6">
                            <div class="statbox widget box box-shadow mb-4">
                                <div class="card-body">
                                    <h4 class="header-title">Contextual classes</h4>
                                    <p class="sub-header">Use contextual classes to style list items with a stateful background and color.</p>
                                    <ul class="list-group">
                                        <li class="list-group-item">Dapibus ac facilisis in</li>
                                        <li class="list-group-item list-group-item-primary">A simple primary list group item</li>
                                        <li class="list-group-item list-group-item-secondary">A simple secondary list group item</li>
                                        <li class="list-group-item list-group-item-success">A simple success list group item</li>
                                        <li class="list-group-item list-group-item-danger">A simple danger list group item</li>
                                        <li class="list-group-item list-group-item-warning">A simple warning list group item</li>
                                        <li class="list-group-item list-group-item-info">A simple info list group item</li>
                                        <li class="list-group-item list-group-item-light">A simple light list group item</li>
                                        <li class="list-group-item list-group-item-dark">A simple dark list group item</li>
                                    </ul>
                                </div> <!-- end card-body -->
                            </div> <!-- end card-->
                        </div>
                        <div class="col-md-6">
                            <div class="statbox widget box box-shadow mb-4">
                                <div class="card-body">
                                    <h4 class="header-title">Contextual classes with Link</h4>
                                    <p class="sub-header">Use contextual classes to style list items with a stateful background and color.</p>
                                    <div class="list-group">
                                        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                                        <a href="#" class="list-group-item list-group-item-action list-group-item-primary">A simple primary list group item</a>
                                        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">A simple secondary list group item</a>
                                        <a href="#" class="list-group-item list-group-item-action list-group-item-success">A simple success list group item</a>
                                        <a href="#" class="list-group-item list-group-item-action list-group-item-danger">A simple danger list group item</a>
                                        <a href="#" class="list-group-item list-group-item-action list-group-item-warning">A simple warning list group item</a>
                                        <a href="#" class="list-group-item list-group-item-action list-group-item-info">A simple info list group item</a>
                                        <a href="#" class="list-group-item list-group-item-action list-group-item-light">A simple light list group item</a>
                                        <a href="#" class="list-group-item list-group-item-action list-group-item-dark">A simple dark list group item</a>
                                    </div>
                                </div> <!-- end card-body -->
                            </div> <!-- end card-->
                        </div>
                        <div class="col-md-6">
                            <div class="statbox widget box box-shadow mb-4">
                                <div class="card-body">
                                    <h4 class="header-title">With badges</h4>
                                    <p class="sub-header">Add badges to any list group item to show unread counts, activity, and more with the help of some utilities.</p>
                                    <ul class="list-group">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            Unread Mails
                                            <span class="badge badge-primary badge-pill">20</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            Pending Tasks
                                            <span class="badge badge-success badge-pill">40</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            Notifications
                                            <span class="badge badge-danger badge-pill">99+</span>
                                        </li>
                                    </ul>
                                </div> <!-- end card-body -->
                            </div> <!-- end card-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptsBlock {

}
