@{
    ViewData["Title"] = "Media Object";
    ViewData["PageName"] = "basicui_media_object";
    ViewData["Heading"] = "<i class='subheader-icon las la-chart-area'></i> Basic UI <span class='fw-300'>Media Object</span>";
    ViewData["Category1"] = "Basic UI";

}
@section HeadBlock {
    <link href="~/css/basic-ui/custom_media_object.css" rel="stylesheet" type="text/css" />
}
@section SubheaderBlock {

}

<div class="layout-px-spacing media-object-area">
    <div class="layout-top-spacing mb-2">
        <div class="col-md-12">
            <div class="row">
                <div class="container p-0">
                    <div class="row layout-top-spacing">
                        <div class="col-lg-6 layout-spacing">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h4>Default</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content widget-content-area">
                                    <div class="media">
                                        <img class="rounded" src="~/img/profile-10.jpg" alt="pic1">
                                        <div class="media-body">
                                            <h4 class="media-heading">It's a Heading</h4>
                                            <p class="media-text">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 layout-spacing">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h4>Image border</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content widget-content-area">
                                    <div class="media">
                                        <img class="rounded img-thumbnail" src="~/img/profile-10.jpg" alt="pic1">
                                        <div class="media-body">
                                            <h4 class="media-heading">It's a Heading</h4>
                                            <p class="media-text">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 layout-spacing">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h4>Image on right</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content widget-content-area">
                                    <div class="media">
                                        <div class="media-body">
                                            <h4 class="media-heading">It's a Heading</h4>
                                            <p class="media-text">
                                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                            </p>
                                        </div>
                                        <img class="rounded" src="~/img/profile-10.jpg" alt="pic1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 layout-spacing">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h4>RTL</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content widget-content-area media-right-aligned">
                                    <div class="media">
                                        <div class="media-body text-right">
                                            <h4 class="media-heading">It's a Heading</h4>
                                            <p class="media-text"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                        </div>
                                        <img class="rounded" src="~/img/profile-10.jpg" alt="pic1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 layout-spacing">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h4>Image top aligned</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content widget-content-area">
                                    <div class="media">
                                        <img class="rounded" src="~/img/profile-10.jpg" alt="pic1">
                                        <div class="media-body">
                                            <h4 class="media-heading">It's a Heading</h4>
                                            <p class="media-text"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 layout-spacing">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h4>Image middle aligned</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content widget-content-area">
                                    <div class="media">
                                        <img class="align-self-center rounded" src="~/img/profile-10.jpg" alt="pic1">
                                        <div class="media-body">
                                            <h4 class="media-heading">It's a Heading</h4>
                                            <p class="media-text">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 layout-spacing">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h4>Image bottom aligned</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content widget-content-area">
                                    <div class="media">
                                        <img class="align-self-end rounded" src="~/img/profile-10.jpg" alt="pic1">
                                        <div class="media-body">
                                            <h4 class="media-heading">It's a Heading</h4>
                                            <p class="media-text">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 layout-spacing">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h4>Media list</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content widget-content-area">
                                    <ul class="list-unstyled">
                                        <li class="media">
                                            <img class="rounded" src="~/img/profile-10.jpg" alt="pic1">
                                            <div class="media-body">
                                                <h4 class="media-heading">It's a Heading</h4>
                                                <p class="media-text">Cras sit amet nibh libero, in gravida nulla.Nulla vel metus scelerisque ante sollicitudin. </p>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <img class="rounded" src="~/img/profile-11.jpg" alt="pic1">
                                            <div class="media-body">
                                                <h4 class="media-heading">It's a Heading</h4>
                                                <p class="media-text">Cras sit amet nibh libero, in gravida nulla.Nulla vel metus scelerisque ante sollicitudin. </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 layout-spacing">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h4>Nesting media object</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content widget-content-area nesting">
                                    <div class="media">
                                        <img class="meta-usr-img rounded" src="~/img/profile-10.jpg" alt="pic1">
                                        <div class="media-body">
                                            <h4 class="media-heading">It's a Heading</h4>
                                            <p class="media-text">Cras sit amet nibh libero, in gravida nulla.Nulla vel metus scelerisque ante sollicitudin. </p>
                                            <div class="media">
                                                <a class="meta-usr-img" href="javascript:void(0);">
                                                    <img class="rounded" src="~/img/profile-11.jpg" alt="pic2">
                                                </a>
                                                <div class="media-body">
                                                    <h4 class="media-heading">It's a Heading</h4>
                                                    <p class="media-text">Cras sit amet nibh libero, in gravida nulla.Nulla vel metus scelerisque ante sollicitudin. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 layout-spacing">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h4>Media object with bottom option</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content widget-content-area notation-text">
                                    <div class="media">
                                        <img class="rounded" src="~/img/profile-4.jpg" alt="pic1">
                                        <div class="media-body">
                                            <h4 class="media-heading">Heading</h4>
                                            <p class="media-text">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                            <div class="media-notation">
                                                <a href="javascript:void(0);" class="text-danger"><i class="las la-heart"></i> Like </a>
                                                <a href="javascript:void(0);" class="text-primary"><i class="las la-comment-alt"></i> Comment </a>
                                                <a href="javascript:void(0);" class="text-warning"><i class="las la-share"></i> Share </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="mediaObjectBadge" class="col-lg-6 layout-spacing">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h4>Badge</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content widget-content-area m-o-label">
                                    <div class="media">
                                        <img class="rounded" src="~/img/profile-10.jpg" alt="pic1">
                                        <div class="media-body">
                                            <h4 class="media-heading"><span class="media-title">It's a Heading</span><span class="badge badge-primary ml-3">Badge</span></h4>
                                            <p class="media-text">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="mediaObjectDropdown" class="col-lg-6 layout-spacing">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h4>Dropdown Option</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content widget-content-area m-o-dropdown-list">
                                    <div class="media">
                                        <img class=" rounded" src="~/img/profile-10.jpg" alt="pic1">
                                        <div class="media-body">
                                            <div class="media-heading">
                                                <span class="media-title"> It's a Heading</span>
                                                <div class="dropdown-list dropdown" role="group">
                                                    <a href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="las la-ellipsis-h"></i>
                                                    </a>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="javascript:void(0);"><span>Option 1</span></a>
                                                        <a class="dropdown-item" href="javascript:void(0);"><span>Option 2</span></a>
                                                        <span class="dropdown-divider"></span>
                                                        <a class="dropdown-item" href="javascript:void(0);"><span>Options 3</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="media-text">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptsBlock {

}
