@{
    ViewData["Title"] = "Scrollspy";
    ViewData["PageName"] = "basicui_scrollspy";
    ViewData["Heading"] = "<i class='subheader-icon las la-chart-area'></i> Basic UI <span class='fw-300'>Srollspy</span>";
    ViewData["Category1"] = "Basic UI";

}
@section HeadBlock {
    <link href="~/css/basic-ui/scrollspy.css" rel="stylesheet" type="text/css" />
}
@section SubheaderBlock {

}

<div class="layout-px-spacing">
    <div class="layout-top-spacing mb-2">
        <div class="col-md-12">
            <div class="row">
                <div class="container p-0">
                    <div class="row layout-top-spacing">
                        <div class="col-lg-12 col-12 layout-spacing scroll-spy">
                            <div class="statbox widget box box-shadow mb-5 pb-3">
                                <div class="card-body">
                                    <h4 class="header-title">Example in navbar</h4>
                                    <p class="text-muted font-14 mb-3">If you scroll the area below you can see the active class changes. Open Dropdown and you will see the changes overthere too</p>
                                    <nav id="navbar-example-one" class="navbar navbar-light bg-light">
                                        <a class="navbar-brand" href="#">Navbar</a>
                                        <ul class="nav nav-pills">
                                            <li class="nav-item">
                                                <a class="nav-link" href="#home">Home</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#about">About</a>
                                            </li>
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle arrow-none active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <i class="mdi mdi-chevron-down"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#one">Option 1</a>
                                                    <a class="dropdown-item" href="#two">Option 3</a>
                                                    <div role="separator" class="dropdown-divider"></div>
                                                    <a class="dropdown-item active" href="#three">Option 3</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </nav>
                                    <div data-spy="scroll" data-target="#navbar-example-one" data-offset="0" class="scrollspy-example">
                                        <h5 id="home">Home</h5>
                                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                                        <br>
                                        <h5 id="about">About</h5>
                                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                                        <br>
                                        <h5 id="one">one</h5>
                                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                                        <br>
                                        <h5 id="two">two</h5>
                                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                                        <br>
                                        <h5 id="three">three</h5>
                                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                                        <p>
                                            But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="statbox widget box box-shadow mb-5 pb-3 example-2">
                                <div class="card-body">
                                    <h4 class="header-title">Example with nested navbar</h4>
                                    <p class="text-muted font-14 mb-3">
                                        Scrollspy also works with nested <code>.nav</code> navbar.
                                        If a nested <code>.nav</code> has <code>.active</code>class then its parents will also has active class
                                        <code>.active</code>.
                                    </p>
                                    <div class="d-flex">
                                        <div class="col-2 p-4 bg-light">
                                            <nav id="navbar-example-two" class="navbar navbar-light flex-column align-items-start">
                                                <a class="navbar-brand mb-2" href="#">Navbar</a>
                                                <nav class="nav nav-pills flex-column">
                                                    <a class="nav-link active" href="#item-1">Item 1</a>
                                                    <nav class="nav nav-pills flex-column">
                                                        <a class="nav-link ml-3 my-1" href="#item-1-1">Item 1-1</a>
                                                        <a class="nav-link ml-3 my-1" href="#item-1-2">
                                                            Item
                                                            1-2
                                                        </a>
                                                    </nav>
                                                    <a class="nav-link" href="#item-2">Item 2</a>
                                                    <a class="nav-link" href="#item-3">Item 3</a>
                                                    <nav class="nav nav-pills flex-column">
                                                        <a class="nav-link ml-3 my-1" href="#item-3-1">
                                                            Item
                                                            3-1
                                                        </a>
                                                        <a class="nav-link ml-3 my-1" href="#item-3-2">
                                                            Item
                                                            3-2
                                                        </a>
                                                    </nav>
                                                </nav>
                                            </nav>
                                        </div>
                                        <div class="col-10">
                                            <div data-spy="scroll" data-target="#navbar-example-two" data-offset="0" class="scrollspy-example" style="height: 320px;">
                                                <h4 id="item-1">Item 1</h4>
                                                <p>
                                                    But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
                                                </p>
                                                <br>
                                                <h5 id="item-1-1">Item 1-1</h5>
                                                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                                                <br>
                                                <h5 id="item-1-2">Item 1-2</h5>
                                                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                                                <br>
                                                <h4 id="item-2">Item 2</h4>
                                                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                                                <br>
                                                <h4 id="item-3">Item 3</h4>
                                                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                                                <br>
                                                <h5 id="item-3-1">Item 3-1</h5>
                                                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                                                <br>
                                                <h5 id="item-3-2">Item 3-2</h5>
                                                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="statbox widget box box-shadow mb-5 pb-3 example-3">
                                <div class="card-body">
                                    <h4 class="header-title">Example with list group</h4>
                                    <p class="text-muted font-14 mb-3">Scrollspy also works with list group</p>
                                    <div class="d-flex">
                                        <div class="col-2 p-4 bg-light">
                                            <div id="navbar-example-three" class="list-group">
                                                <a class="list-group-item list-group-item-action active" href="#list-item-1">Item 1</a>
                                                <a class="list-group-item list-group-item-action" href="#list-item-2">Item 2</a>
                                                <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
                                                <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
                                                <a class="list-group-item list-group-item-action" href="#list-item-5">Item 5</a>
                                            </div>
                                        </div>
                                        <div class="col-10">
                                            <div data-spy="scroll" data-target="#navbar-example-three" data-offset="0" class="scrollspy-example">
                                                <h4 id="list-item-1">Item 1</h4>
                                                <p>
                                                    But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
                                                </p>
                                                <br>
                                                <h4 id="list-item-2">Item 2</h4>
                                                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                                                <br>
                                                <h4 id="list-item-3">Item 3</h4>
                                                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                                                <br>
                                                <h4 id="list-item-4">Item 4</h4>
                                                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                                                <br>
                                                <h4 id="list-item-5">Item 5</h4>
                                                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end card-body -->
                            </div> <!-- end card-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptsBlock {

}
