@{
    ViewData["Title"] = "Session Timeout";
    ViewData["PageName"] = "basicui_session_timeout";
    ViewData["Heading"] = "<i class='subheader-icon las la-chart-area'></i> Basic UI <span class='fw-300'>Session Timeout</span>";
    ViewData["Category1"] = "Basic UI";

}
@section HeadBlock {

}
@section SubheaderBlock {

}

<div class="layout-px-spacing">
    <div class="layout-top-spacing mb-2">
        <div class="col-md-12">
            <div class="row">
                <div class="container p-0">
                    <div class="row layout-top-spacing">
                        <div class="col-lg-12 col-12 h-100 layout-spacing">
                            <h4 class="text-center">This is just a demo page</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptsBlock {
    <script src="~/js/basicui/session-timeout/bootstrap-session-timeout.js"></script>
    <script src="~/js/basicui/session-timeout/custom-bootstrap_session_timeout.js"></script>
}
